@media (max-width: 1400px) {
  .scroll-up {
    bottom: 8rem;
    right: 3rem;
  }  
  
  .scroll-up i {
    scale: 2;
      }
}

@media (max-width: 992px) {
  .scroll-up {
      bottom: 8rem;
      right: 1rem;
  } 

  .scroll-up i {
        scale: 1.75;
      }
}